:root{
    --color-logo: #ff6900;
    --color-btn-h:#FF9900;
    --color-blanco: #ffffff;
    --color-background:#000000;
    --color-box: rgba(0, 0, 0, 0.6);

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--color-background);
    color: var(--color-blanco);
    font-family: 'Open Sans', sans-serif;
}
a{
    color: var(--color-blanco);
    list-style: none;
    text-decoration: none;
}
ul{
    list-style: none;
    display: flex;
}
h1,h3{
    color: var(--color-logo);

}
section{
    height: calc(100vh - 60px);
    text-align: center;
}
