:root{
    --color-logo: #ff6900;
    --color-btn-h:#FF9900;
    --color-blanco: #ffffff;
    --color-background:#000000;
    --color-box: rgba(0, 0, 0, 0.6);

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--color-background);
    color: var(--color-blanco);
    font-family: 'Open Sans', sans-serif;
}

/*Social bar*/
.social-bar{
    position: fixed;
    right: 0;
    bottom: 15%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 4;
}
.icono{
    color: white;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .5s;
    height: 45px;
    width: 45px;
}
.icon-facebook{
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.icon-comprasj{
    background: #238340;
}
.comprasj,.maps{
    height: 24px;
}
.icon-youtube{
    background: #e52d27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.icon-instagram{
    background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #833ab4, #fd1d1d, #fcb045);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #833ab4, #fd1d1d, #fcb045); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.icon-maps
{
	background-color:white;
}
.icono:first-child{
    border-radius: 1rem 0 0 0;
}
.icono:last-child{
    border-radius: 0 0 0 1rem;
}
.icono:hover{
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 .5rem rgba(0,0,0,0.42);
}
.iconoss{
    width: 24px;
    margin: auto;
}
@media screen and (max-width: 805px){
	.social-bar{
		position: fixed;
		bottom: 0;
		width: 100%;
		font-size: 1.5rem;
		display: grid;
  		grid-template-columns: auto auto auto auto auto;
		z-index: 4;
		align-content: space-between;
	}
	.icono{
		display: grid;
		width: auto;
		height: auto;
		grid-template-columns: auto;
		text-align: center;
        padding: 10px 0px;
        color: white;
	}
	.icon-facebook{
		background: #00c6ff;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
	.comprasj{
		width: 24px;
        margin: auto;
	}
	.maps{
		width: 19px;
		margin: auto;
    }
	.icono:first-child{
		border-radius: 0 0 0 0;
	}
	.icono:last-child{
		border-radius: 0 0 0 0;
	}
	.icono:hover{
		width: auto;
		padding: 10px 0px;
		border-radius: 0 0 0 0;
		box-shadow: 0 0 0 0 rgba(0,0,0,0.42);
	}
    .flecha-inicio{
        display: none;
        visibility: hidden;
    }
}
/*Menu*/
.enlaces{
    display: flex;
    height: 80%;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}
.enlaces a{
    border-top: 1px solid transparent;
    border-bottom:  1px solid transparent;
    padding: 4px 0;
    color: var(--color-blanco);
    list-style: none;
    text-decoration: none;
    transition: 0.7s ease-out; 
}
.enlaces a:hover, .active{
    border-top: 1px solid var(--color-logo);
    border-bottom: 1px solid var(--color-logo);
}
.btn-menu{
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
    color: #fff;
    background: transparent;
    padding: 20px;
    z-index: 10;
    cursor: pointer;
    margin-right: 40px;
}

header .textos h1 {
    font-size: 75px;
}

.enlaces {
    padding: 50px;
    z-index: 9;
    position: fixed;
    height: 100vh;
    right: 0;
    width: 100%;
    flex-direction: column;
    transition: all 1s ease;
    background: #f46b45;
    background-color:  var(--color-background); 
}

.uno {

    -webkit-clip-path: circle(0% at 100% 0%);
    clip-path: circle(0% at 100% 0%);

}

.dos {

    -webkit-clip-path: circle(150% at 100% 0%);
    clip-path: circle(150% at 100% 0%);

}
h1,h3{
    color: var(--color-logo);

}
section{
    z-index: 2;
    overflow: hidden;
    padding-top: 60px;
    height: 100vh;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*Menu*/
header nav{
    width: 100%;
    position: fixed;
    height: 60px;
    background: var(--color-box);
    display: flex;
    justify-content: space-between
}

/*Inicio*/
#inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../img/intro.webp);
}
#quien{
    background-image: url(../../img/quien.webp);
}
#venta{
    background-image: url(../../img/venta.webp);
}
#servi{
    background-image: url(../../img/servi.webp);
}
#empre{
    background-image: url(../../img/empre.webp);
}
.box{
    background-color: var(--color-box);
}
.contenedor{
    width: 60%;
}
.center{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.letf{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.right{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    
}
.animado{
    opacity: 0;
    transition:  all 1s;
}
.mostrarTop{
    animation: mostrarTop 2s;
}
.mostrarBottom{
    animation: mostrarBottom 2s;
}
.mostrarLetf{
    animation: mostrarLetf 2s;
}
.mostrarRight{
    animation: mostrarRight 2s;
}
@keyframes mostrarTop{
    0%{
        transform: translateY(160px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes mostrarBottom{
    0%{
        transform: translateY(-160px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes mostrarLetf{
    0%{
        transform: translateX(-160px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes mostrarRight{
    0%{
        transform: translateX(160px);
    }
    100%{
        transform: translateX(0);
    }
}